body {
    background-color: beige;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto 0;
}

.to-do-list {
    width: 70%;
    margin: 3rem auto;
}

.to-do-card {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 40%;
    margin: 1rem auto;
}

.create-to-do-card {
    width: 15%;
    margin: auto;
}